langchain
langchain_core
langchain_openai
dotenv
transformers
torch
hf_xet
pillow
langchain-text-splitters
pymupdf
# faiss-cpu
sentence_transformers
nbformat
# rank_bm25
redis
fastapi
uvicorn
boto3
opensearch-py
requests_aws4auth
gunicorn